:root{
    /* Definición de colores como variables para uso en todo el documento */
    --color-soft-red: #FF6F61;
    --color-crimson: #DC143C;
    --color-ruby-red: #9B111E;
    --color-sky-blue: #87CEEB;
    --color-royal-blue: #4169E1;
    --color-navy-blue: #000080;
    --color-azul-boton: #4682b4;
    --color-soft-blue: #6495ED;
}

*{
    /* Estilos globales para todos los elementos */
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
}

header > img{
    /* Estilo para las imágenes dentro del header */
    border-radius: 100vh;
}

.main{
    /* Estilos para el contenedor principal */
    background-color: var(--color-soft-blue);
    display: flex;
}

header{
    /* Estilos para el encabezado */
    background-color: var(--color-navy-blue);
    font-size: 35px;
    color: white;
    display: flex;
    text-align: center;
    text-justify: center;
    height: 15vh;
    justify-content: space-between;
}

header > h1{
    /* Estilos para el título dentro del header */
    width: 90vw;
    display: flex;
    margin-left: 45vw;
    align-items: center;
}

#medio{
    /* Estilos para la sección #medio */
    background-color: var(--color-soft-blue);
    text-align: center;
    font-size: 35px; 
    width: 88vw;
    height: 80vh;
}

.nav{
    /* Estilos para la barra de navegación */
    width: 9.85vw;
    height: 76vh;
    background-color: var(--color-sky-blue);
    text-align: center;
    text-justify: auto;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.boton {
    /* Estilos para los botones de navegación */
    padding: 1vh;
    border: none;
    background-color: var(--color-azul-boton);
    color: white;
    border-radius: 0.5vh;
    cursor: pointer;
    font-size: 2vh;
    transition: background-color 0.3s;
    text-decoration: none;
    text-align: center;
}

footer{
    /* Estilos del pie de página */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-navy-blue);
    color: white;
    height: 5vh;
}

.helicoptero {
    /* Estilos para la animación del helicóptero */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: upDown 5s infinite ease-in-out;
    cursor: pointer;
    width: 15vw;
}

@keyframes upDown {
    /* Definición de la animación de movimiento vertical del helicóptero */
    0% {
        top: 15vh; /* Empieza en la parte superior de la animación */
    }
    50% {
        top: 77vh; /* Baja a la mitad del contenedor */
    }
    100% {
        top: 15vh; /* Regresa al punto inicial */
    }
}

/* Pausar la animación al hacer clic */
.helicoptero:active {
    animation-play-state: paused;
}
